
<div class="form-popup rounded" id="login">
    <form action="/login" method="POST" class="form-container">
      <div class="form-group">
      <label for="email"><b>Email</b></label>
      <input class="form-control" type="text" placeholder="Enter Email" name="username" required>
      </div>
      
      <div class="form-group">
      <label for="psw"><b>Password</b></label>
      <input class="form-control" type="password" placeholder="Enter Password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary rounded-pill">Login</button>
    </form>
</div>